		<style>
			.header{margin:-8px -8px 0px;text-align:center;padding:10px;}
			.container{width:100%}
			.left{float:left;}
			.body{width:65%;float:left;padding:20px;}
			.right{width:15%;float:left;}
			img{width:100%;height:auto;
		</style>